$font-color: #398F75;

.flex-normal {
    display: flex;
}

.flex-1{
    flex: 1;
}

.height-100{
    height: 100vh;
}

.flex-direction-coloumn{
    flex-direction: column;
}

.flex-content-center{
    justify-content: center;
}

.text-align-center{
    text-align: center;
}

.width-30{
    width: 30vw;
}

.background-color-red{
    background-color: red;
}

.font-color-green{
    color: $font-color;
}
