.main-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .left {
        color: #398F75;
        .icon-sm {
            text-align: center;
        }
    }
    
    .right {
        
    }
}

