$font-color: #398F75;
$font-color-gray: rgba(201, 201, 201, 0.89);
$font-color-white: white;
$font-color-black: #545454;
$bg-transparant: rgba(255, 255, 255, 0);
$bg-green: linear-gradient(344.77deg, #2E8474 -3.41%, rgba(133, 218, 120, 0) 106.89%), #2E8474;
$bg-form: rgba(238, 238, 238, 1);
